html {
    scroll-behavior: smooth
}

section {
    scroll-margin-top: 200px;
}

div.ampliar {
    transition: transform 0.2s ease;
    transform: scale(1.1);
}

.aumentar {
    transform: scale(1.1);
    transition: transform 0.2s ease;
    display: inline-block;
}

h3.mudarCor {
    color: red;
}