node_modules/
.yarn/
.npm/
package-lock.json
yarn.lock
/dist/
/build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*.bak
.DS_Store
Thumbs.db
Desktop.ini
.idea/
.vscode/
.sublime-project
.sublime-workspace
*.class
*.swp
npm/
yarn/